
    
    <footer class="container-fluid footer">
        <nav class="navbar navbar-expand-lg navbar-ligh bg-light">
            <span class="text-center text-muted">Trademark Camp Bug 2018</span>
        </nav>
    </footer>
</body>
</html>
