<% include ../partials/header %>

<div class="container">
  <h1 style="text-align:center;">Edit Comment</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="comment[text]">Comment:</label>
          <input type="text" id="comment-text" name="comment[text]" class="form-control" value="<%= comment.text %>">
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%;">Comment</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
