<% include ../partials/header %>

<div class="container">
  <h1 style="text-align:center;">New Comment to - <span style="text-decoration:underline"><%= campground.name %></span></h1>
  <div class="row">
    <div style="width:30%; margin:37px auto;">
      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <label for="comment[text]">Comment:</label>
          <input type="text" id="comment-text" name="comment[text]" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%;">Comment</button>
      </form>
      <a href="/campgrounds/<%= campground._id %>">Go back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
