<% include partials/header %>

<h1 class="jumbotron">Welcome to YelpCamp</h1>

<p>
    YelpCamp is the online authority for campground information, reviews, and ratings. We provide the platform, you provide the experience! Feel free to check out our Campgrounds page by clicking <a href="/campgrounds">here</a>
</p>

<% include partials/footer %>
