.img-thumbnail img {
    width: 100%;
}

.img-thumbnail .caption-full {
    padding: 9px;
}

.deleteForm {
    display: inline;
}

#editForm {
    color: white;
}

.comment-well {
    margin-top: 10px;
    padding: 9px;
}

.review-button {
    margin-top: 10px;
}

#comment-edit {
    color: white;
}

.jumbotron {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}

.comments {
    border-bottom: 1px solid gray;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .navbar {
    bottom: 0;
    width: 100%;
}

